<h1><a href="{% url 'user:main' %}">블로그</a></h1>
<!-- 검색 기능 추가 -->
<script>
    // URL 강제 변경,,
    function changeURL() {
        history.pushState(null, null, "{% url 'blog:post_list' %}")
    }
</script>

<form action="" method="GET">
    <input type="text" id = 'search' name="q" value="{{ request.GET.q }}">
    <input onclick = "changeURL()" type="submit" id="searchBtn" value="검색">
</form>

<a href="{% url 'blog:post_search_tag' '일상' %}">#일상</a>
<a href="{% url 'blog:post_search_tag' '모험' %}">#모험</a>
<a href="{% url 'blog:post_search_tag' '보스' %}">#보스</a>
<a href="{% url 'blog:post_search_tag' '몬스터' %}">#몬스터</a>
<a href="{% url 'blog:post_search_tag' '큐브' %}">#큐브</a>


<ul>
    {% for post in post_list %}
    <li>
        <a href="{% url 'blog:post_detail' post.pk %}">
            {% if post.is_private %}
                {{ post.title }}(비공개){{post.author}}
            {% else %}
                {{ post.title }}
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'blog:post_write' %}">글작성</a>