<a href="{% url 'blog:post_list' %}">블로그로 이동하기</a>
<hr>

{% if post.is_private and post.author == user %}
프라이빗인데 본인이 작성한 글
{% elif post.is_private and post.author != user %}
글 접근 권한이 없습니다!
{% else %}
퍼블릭
{% endif %}


<p>제목: {{post.title}}</p>
<p>글 내용: {{post.content}}</p>
{% if post.image %}
    <img src="{{post.image.url}}">
{% endif %}

<p>조회수 : {{post.view_count}}</p>

{% for tag in post.category.all %}
    <a href="/blog/search/{{ tag.name }}">#{{ tag.name }}</a>
{% endfor %}


<hr>
<section>
    <h3>댓글</h3>
    {% for comment in post.comments.all %}

        {% if comment.parent_comment %}
                <script>
                    var myDiv = document.getElementById("{{comment.parent_comment}}");
                    var content = "<h3>대댓글 입니다.</h3><hr><p>&nbsp;&nbsp;&nbsp;내용: {{comment.message}}</p><p>&nbsp;&nbsp;&nbsp;작성자: {{comment.author}}</p><p>&nbsp;&nbsp;&nbsp;좋아요: {{comment.like_count}}</p><p>&nbsp;&nbsp;&nbsp;대댓글: {{comment.parent_comment}}</p><p>&nbsp;&nbsp;&nbsp;{{comment.updated_at}}</p><hr>";
                    myDiv.innerHTML += content;
                </script>                

        {% else %}
        <li id = "{{comment.message}}">
            <p>내용: {{comment.message}}</p>
            <p>작성자: {{comment.author}}</p>
            <p>좋아요: {{comment.like_count}}</p>
            <p>{{comment.updated_at}}</p>
            <hr>
        </li>
        
        {% comment %} <form action="{% url 'blog:comment_new' post.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" value="좋아요">
        </form> {% endcomment %}
        {% endif %}
    {% endfor %}
</section>

<section>
    <h3>댓글 작성</h3>
    <form action="{% url 'blog:comment_new' post.pk %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" value="댓글 작성">
        <hr>
    </form>
</section>

<a href="{% url 'blog:post_list' %}">목록</a>
{% if user == post.author %}
<a href="{% url 'blog:post_edit' post.pk %}">수정</a>
<a href="{% url 'blog:post_delete' post.pk %}">삭제</a>
{% endif %}