<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
</head>

<body>
      main 화면
      <hr>
      <a href="{% url 'blog:post_list' %}">블로그로 이동하기</a>
      {% if user.pk %}
        <hr>
        <a href="{% url 'user:logout' %}">로그아웃</a>
        <hr>
        <a href="{% url 'user:profile_detail' pk=user.pk %}">프로필 보기</a>
      {% else %}
        <hr>
        <a href="{% url 'user:register' %}">회원가입</a>
        <hr>
        <a href="{% url 'user:login' %}">로그인</a>
        
      {% endif %}
      
      
</body>

</html>
<hr>
<a href="{% url 'user:cube_history' %}">API 사용하기</a>