<h1><a href="{% url 'user:main' %}">블로그</a></h1>

<form action="" method="GET">
  <input type="date" id="date" name = 'date' value = 'date'>
  <input type="submit" id="searchBtn" value="조회">
</form>

{% if result == '에러' %}
  에러발생
  해당 날짜에 사용한 큐브가 없거나 잘못된 키값을 입력하였습니다. 사용자 프로필에서 API키값을 다시 확인해주세요
{% else %}
  <p>캐릭터이름: {{ result.character_name }}</p>
  <p>큐브 종류: {{ result.cube_type }}</p>
  <p>아이템 레벨: {{ result.item_level }}</p>
  <p>아이템 이름: {{ result.target_item }}</p>
  <p>등급: {{ result.potential_option_grade }}</p>
  {% for opt in result.after_potential_options %}
    <p>옵션: {{opt.value}}</p>
  {% endfor %}
{% endif %}

<hr>
<a href="{% url 'blog:post_list' %}">블로그로 이동하기</a>


